.store-card {
    margin: 1.25rem 2.38rem 0;
    background: white;
    border-radius: 1rem;
}

.store-card-ul {
    padding-bottom: 1rem;
}

.store-card-img {
    width: 100%;
    height: 23.68rem;
}

.store-card-info {
    display: flex;
    align-items: center;
    height: 3.94rem;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.06);
}

.store-card-info-left {
    padding-left: .88rem;
    font-size: .88rem;
    color: #CD0E00;
}

.store-card-info-left span {
    font-size: 2.25rem;
    font-weight: bold;
    padding-right: .3rem;
}

.store-card-info-mid {
    flex: 1;
    padding-left: 1.36rem;
    text-align: left;
}

.icon-store-card {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    background-size: 100%;
    margin: 0 .8rem;
}

.icon-buy {
    background-image: url('/static/img/icons/icon-buy@2x.png');
}