.store-address-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.store-address-cell {
  margin-top: 1.14rem;
  background-color: #fff;
  padding-bottom: 1.14rem;
}

.store-address-title {
  padding: 0 1.14rem;
}

.store-address-input {
  width: 100%;
  margin-top: .5rem;
  padding: 0 1.14rem;
  text-align: left;
}

.store-address-input .mu-text-field-input,
.store-address-input .mu-text-field-hint {
  height: 2.5rem;
}

.mu-text-field{
    width: 100%;
}
.mu-dropDown-menu-text-overflow{
    text-align: left;
}

.store-address-btn{
    margin: 0 auto;
    width: 22.5rem;
    height: 3.5rem;
    background-color: #cd0e00;
    border-radius: 100px;
    line-height: 3.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.14rem;
    font-family: HelveticaNeue-Bold;
}